#first{
    float: left;
    width: 20%;
}

#second{
    float: left;
    width: 400px;
}

.ui-mobile-viewport{
	background-color: blue;
}

#custom-border-radius .ui-btn-icon-notext.ui-corner-all {
    -webkit-border-radius: .3125em;
    border-radius: .3125em;
}

.ui-header{
	background:#006699;
}

.ui-page{
	background: transparent url("background.jpg");
	background-size: 200% 100%;
	background-repeat: no-repeat;
}

.ui-icon-myapp-location{
	background-color: transparent;
	background: url("icon-location.png") no-repeat rgba(0,0,0,0.4);
	background-size: 15px 15px;
	background-position: center;
}

.ui-icon-myapp-camera{
	background-color: transparent;
	background: url("icon-camera.png") no-repeat rgba(0,0,0,0.4);
	background-size: 13px 13px;
	background-position: center;
}

.discount{
	font-size: 15px;
	padding-top: 15px;
	white-space: normal;
}

.expdate{
	font-size: 16px;
	padding-top: 15px;
	padding-right: 20px;
}