#first{
    float: left;
    width: 20%;
}

#second{
    float: left;
    width: 400px;
}

.ui-mobile-viewport{
	background-color: blue;
}

#custom-border-radius .ui-btn-icon-notext.ui-corner-all {
    -webkit-border-radius: .3125em;
    border-radius: .3125em;
}